{% extends "base.html" %}
{% load static %}
{% block content %}




<div class="container">
    <div class="row justify-content-center">
        <div class="col my-4">
            <div class="btn-toolbar" style="padding-left: 15px">
                <a href="{% url 'home' %}" class="btn btn-dark my-3">Go Back</a>
                <a href="{% url 'delete_photo' photos.id %}" class="btn btn-danger m-3">Delete</a>
            </div>
          

            <div style="height: 90vh;">
                <img style="max-width: 100%; max-height: 100%;" src="{{photos.pic.url}}">
                <p class="my-2">{{photos.description}}</p>
            </div>

        </div>
       
    </div>
    {% comment %} <a  href="{% url "delete_photo" photos.id %}" class="btn btn-secondary btn-sm my-4">Delete a Pic</a> {% endcomment %}
</div>

{% endblock  %}