{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <h1 class="m-5">Detailed View </h1>

    <div class="row">
        <div class="col-md-3">
            <div class="card m-5" >
                <div class="card-header">
                  Categories
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">All</li>
                  <li class="list-group-item">January</li>
                  <li class="list-group-item">February</li>
                  <li class="list-group-item">March</li>
                </ul>
              </div>
        </div>

        <div class="col-md-9">
           <div class="row">


            {% comment %} pic-1 {% endcomment %}
           <div class="col-md-4">
               <div class="card my-2" >
                        <img class= "image-thumbnail" src="../static/images/Jan/aunty-boy-2.jpg" class="card-img-top" alt="an image of aunty and my boy">
                        <div class="card-body">
                            <p class="card-text">Aunty and Rati at Wonderpark</p>
                            <p class="card-text">Category : Jan</p>
                            <a  class = 'btn btn-outline-dark btn-sm m-1' href="{%  url "detailed_view"  5 %}">View</a>
                        </div>
                </div>
           </div>

            
            {% comment %} pic-2 {% endcomment %}
           <div class="col-md-4">
            <div class="card my-2" >
                     <img class= "image-thumbnail" src="../static/images/Jan/aunty-boy-2.jpg" class="card-img-top" alt="an image of aunty and my boy">
                     <div class="card-body">
                         <p class="card-text">Aunty and Rati at Wonderpark</p>
                         <p class="card-text">Category : Jan</p>
                         <a  class = 'btn btn-outline-dark btn-sm m-1' href="{%  url "detailed_view"  5 %}">View</a>
                     </div>
             </div>
        </div>


        
            {% comment %} pic-3 {% endcomment %}
            <div class="col-md-4">
                <div class="card my-2" >
                         <img class= "image-thumbnail" src="../static/images/Jan/aunty-boy-2.jpg" class="card-img-top" alt="an image of aunty and my boy">
                         <div class="card-body">
                             <p class="card-text">Aunty and Rati at Wonderpark</p>
                             <p class="card-text">Category : Jan</p>
                             <a  class = 'btn btn-outline-dark btn-sm m-1' href="{%  url "detailed_view"  5 %}">View</a>
                         </div>
                 </div>
            </div>

            
            {% comment %} pic-4{% endcomment %}
        <div class="col-md-4">
            <div class="card my-2" >
                     <img class= "image-thumbnail" src="../static/images/Jan/aunty-boy-2.jpg" class="card-img-top" alt="an image of aunty and my boy">
                     <div class="card-body">
                         <p class="card-text">Aunty and Rati at Wonderpark</p>
                         <p class="card-text">Category : Jan</p>
                         <a  class = 'btn btn-outline-dark btn-sm m-1' href="{%  url "detailed_view"  5 %}">View</a>
                     </div>
             </div>
        </div>

              
            {% comment %} pic-4{% endcomment %}
            <div class="col-md-4">
                <div class="card my-2" >
                         <img class= "image-thumbnail" src="../static/images/Jan/aunty-boy-2.jpg" class="card-img-top" alt="an image of aunty and my boy">
                         <div class="card-body">
                             <p class="card-text">Aunty and Rati at Wonderpark</p>
                             <p class="card-text">Category : Jan</p>
                             <a  class = 'btn btn-outline-dark btn-sm m-1' href="{%  url "detailed_view"  5 %}">View</a>
                         </div>
                 </div>
            </div>




           </div>
        </div>





    </div>
</div>
{% endblock  %}