
{% extends "base.html" %}
{% load static %}
{% block content %}



<div class="container">
    <h1 class="m-2  text-center" >Edit Photo</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" id="title" class="form-control" value="{{ photo.title }}" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" id="description" class="form-control" rows="3" required>{{ photo.description }}</textarea>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select name="category" id="category" class="form-select">
                <option value="none">Select a category</option>
                {% for category in categories %}
                <option value="{{ category.id }}" {% if photo.category and photo.category.id == category.id %}selected{% endif %}>
                    {{ category.name }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="category_new" class="form-label">Or Add New Category</label>
            <input type="text" name="category_new" id="category_new" class="form-control">
        </div>
        <div class="mb-3">
            <label for="images" class="form-label">Change Image</label>
            <input type="file" name="images" id="images" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
























{% endblock %}